$app-green-color: #50CB86;
$app-purple-color: #f45bad;


$icomoon-font-path: "/assets/fonts" !default;

$iisifix-oil: "\e902";
$iisifix-piston: "\e903";
$iisifix-frost: "\e904";
$iisifix-windshield: "\e905";
$iisifix-fog-light: "\e906";
$iisifix-car-lights: "\e907";
$iisifix-window: "\e908";
$iisifix-turbine: "\e909";
$iisifix-tire: "\e90a";
$iisifix-temperature: "\e90b";
$iisifix-suspension: "\e90c";
$iisifix-steering-wheel: "\e90d";
$iisifix-seatbelt: "\e90e";
$iisifix-radiator: "\e90f";
$iisifix-mechanic: "\e910";
$iisifix-light: "\e911";
$iisifix-indicators: "\e912";
$iisifix-gearshift: "\e913";
$iisifix-exhaust: "\e914";
$iisifix-engine: "\e915";
$iisifix-dashboard: "\e916";
$iisifix-damper: "\e917";
$iisifix-chassis: "\e918";
$iisifix-break: "\e919";
$iisifix-battery: "\e91a";
$iisifix-alloy-wheel: "\e91b";
$iisifix-airbag: "\e900";
$iisifix-air-conditioner: "\e901";
