$blue-color: #7357DB;
.blue{
  color: $blue-color;
}

.blue-bg{
  background-color: $blue-color;
}

.light-red{
  color: #f00;
}

.lime-green{
  color: limegreen;
}

.dark-red{
  color: #ad0000;
}

.gold{
  color: gold;
}

.white{
  color: #fff;
}

.dark-grey{
  color: darkgrey;
}
