.bordered-all-but-no-top {
  border: 1px solid rgb(221, 221, 221);
  border-top: none;
}

.width-400 {
  width: 400px;
  display: inline-block;
}

.no-bullet {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.mouse-pointer{
  cursor: pointer;
}

.mouse-pointer-disabled{
  cursor: not-allowed;
}

.soft-hidden{
  display: none;
}

.small-text{
  color: #ffe6e6;
}
