.iisifixco-contact-info ul {
  padding: 0;
  margin: 0;
}
.iisifixco-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 15px 0;
  list-style: none;
  position: relative;
  a{
    color: #d1ab2b;
  }
}
.iisifixco-contact-info ul li:before {
  color: #d1ab2b;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iisifixco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.iisifixco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.iisifixco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.iisifixco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

.iisifixco-social-icons {
  margin: 0;
  padding: 0;
}
#iisifixco-footer .iisifixco-social-icons{
  margin-top: 30px;
}
.iisifixco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.iisifixco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #d1ab2b;
  padding-left: 10px;
  padding-right: 10px;
}
.iisifixco-social-icons li a i {
  font-size: 20px;
}

#iisifixco-footer .iisifixco-footer-links {
  padding: 0;
  margin: 30px 0 0;
}
#iisifixco-footer .iisifixco-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#iisifixco-footer .iisifixco-footer-links li a {
  color: #828282;
  text-decoration: none;
}
#iisifixco-footer .iisifixco-footer-links li a:hover {
  text-decoration: underline;
  color: #000;
}
#iisifixco-footer .iisifixco-widget {
  text-align: right;
  margin-bottom: 30px;
}
