meta charset="utf-8" /
meta content="IE=edge" http-equiv="X-UA-Compatible" /
title #{Config::AppName}
= csrf_meta_tags
meta content="width=device-width, initial-scale=1" name="viewport" /
meta content=("A Marketplace for Car Owner & Repair Shops") name="description" /
meta content=("marketplace, car, repair, finland, reliable repair, affordable price") name="keywords" /
meta content="iisifix.com" name="author" /
