<p>Hei <%= @resource.email %>!</p>

<p>Joku on pyytänyt linkin vaihtaa salasanan. Voit tehdä tämän alla olevasta linkistä.</p>

<p><%= link_to 'Vaihda salasana', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jos et pyytänyt tätä, jätä tämä sähköposti.</p>
<p>Salasanasi ei muutu kunnes näytössä yllä olevaa linkkiä ja luo uusi.</p>
