h3 Quote Request
= pie_chart statuses_data(QuoteRequest)

hr
h3 Job
= pie_chart statuses_data(Job)

hr
h3 Vehicle Owner
= pie_chart statuses_data(VehicleOwner)

hr
h3 Garage Owner
= pie_chart statuses_data(GarageOwner)
