.garage_logo{
  float: left;
  padding: 5px;
  img{
    max-width: 50px;
  }
}
.garage_info{
  margin-left: 60px;
  h4{
    margin-bottom: 0;
  }
}
.garage_header_buttons{
  margin-top: 15px;
  a.btn{
    margin-right: 5px;
  }
}
